NODE_ENV= #production / development
PORT=

MONGO_URI=mongodb+srv://<username>:<db_password>@<cluster_name>.mongodb.net/<db_name>?appName=<cluster_name>
ALLOWED_ORIGINS= #http://localhost:5050

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=